In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline


df = pd.read_csv('zillow_data.csv')

In [2]:
#here we are filtering out our zipcodes to just look at the top 500 in sizerank
df['Top500'] = df['SizeRank'].apply(lambda x: True if x <= 500 else False)

df = df.loc[df.Top500, :]

In [3]:
#creating growth rate metric and sorting to see top zips
df['GrowthRate'] = df['2018-04'] / df['1996-04'] - 1
df.sort_values('GrowthRate', ascending = False)[:10]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,Top500,GrowthRate
117,62022,11211,New York,NY,New York,Kings,118,133200.0,132900.0,132500.0,...,1424700,1435300,1440500,1463100,1496100,1531100,1581900,1623700,True,11.189940
475,62027,11216,New York,NY,New York,Kings,476,146100.0,146600.0,147200.0,...,1553100,1567700,1559700,1545700,1540200,1553600,1578400,1598700,True,9.942505
191,60639,7302,Jersey City,NJ,New York,Hudson,192,137200.0,137800.0,138500.0,...,1411000,1435900,1446300,1447800,1454900,1453900,1439500,1427300,True,9.403061
106,62026,11215,New York,NY,New York,Kings,107,225700.0,227500.0,229400.0,...,2244400,2266100,2275800,2287100,2288900,2265300,2244900,2243900,True,8.941958
258,66125,20001,Washington,DC,Washington,District of Columbia,259,92000.0,92600.0,93200.0,...,771200,773300,777600,780500,781600,785500,791400,793300,True,7.622826
70,62032,11221,New York,NY,New York,Kings,71,133700.0,133700.0,133700.0,...,965300,984700,995000,998100,1000900,1015400,1037300,1048700,True,6.843680
76,97565,94110,San Francisco,CA,San Francisco,San Francisco,77,213900.0,214800.0,216000.0,...,1513500,1525200,1533600,1536500,1536200,1544400,1570000,1594000,True,6.452080
29,66126,20002,Washington,DC,Washington,District of Columbia,30,94300.0,94000.0,93700.0,...,672200,673100,674600,678200,680900,683000,687500,691300,True,6.330859
107,96007,90026,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,108,138100.0,138300.0,138300.0,...,907700,919900,932600,947300,962600,973700,975200,972100,True,6.039102
260,62029,11218,New York,NY,New York,Kings,261,177200.0,177000.0,176800.0,...,1199700,1201800,1198000,1186400,1174500,1173900,1196100,1220900,True,5.889955

In [4]:
#checking which metros have the most top500 sizerank zipcodes
df.value_counts('Metro')[:10]

Metro
New York                          46
Los Angeles-Long Beach-Anaheim    32
Chicago                           27
Atlanta                           23
Miami-Fort Lauderdale             20
Houston                           20
Dallas-Fort Worth                 19
Washington                        14
San Francisco                     14
Charlotte                         11
dtype: int64

In [5]:
#showing that almost half of zip codes in our top 500 are represented in the top 10 metros
df.value_counts('Metro')[:10].sum()

226

In [6]:
#making dfs for our potential Metros
df_nyc = df[df['Metro'] == 'New York']
df_chi = df[df['Metro'] == 'Chicago']
df_hou = df[df['Metro'] == 'Houston']
df_la = df[df['Metro'] == 'Los Angeles-Long Beach-Anaheim']
df_dfw = df[df['Metro'] == 'Dallas-Fort Worth']
df_atl = df[df['Metro'] == 'Atlanta']
df_mia = df[df['Metro'] == 'Miami-Fort Lauderdale']
df_dc = df[df['Metro'] == 'Washington']
df_sf = df[df['Metro'] == 'San Francisco']
df_cha = df[df['Metro'] == 'Charlotte']

In [7]:
df_nyc['GrowthRate'].mean()

3.7712542878046262

In [8]:
df_la['GrowthRate'].mean()

3.2231950761389916

In [9]:
df_chi['GrowthRate'].mean()

1.3872262487454181

In [10]:
df_atl['GrowthRate'].mean()

0.8519873970692066

In [11]:
df_mia['GrowthRate'].mean()

1.9554887689343101

In [12]:
df_hou['GrowthRate'].mean()

0.6894731410422865

In [13]:
df_dfw['GrowthRate'].mean()

0.9493054726931407

In [14]:
df_dc['GrowthRate'].mean()

2.9030905800676967

In [15]:
df_sf['GrowthRate'].mean()

3.3617040219529897

In [16]:
df_cha['GrowthRate'].mean()

1.0371098444006648

In [20]:
df_nyc

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,Top500,GrowthRate
6,61807,10467,New York,NY,New York,Bronx,7,152900.0,152700.0,152600.0,...,407300,411600,413200,414300,413900,411400,413200,417900,True,1.733159
10,62037,11226,New York,NY,New York,Kings,11,162000.0,162300.0,162600.0,...,853900,870000,885100,887800,890500,901700,930700,963200,True,4.945679
12,62087,11375,New York,NY,New York,Queens,13,252400.0,251800.0,251400.0,...,1048600,1066400,1081200,1088800,1092700,1089500,1084000,1084600,True,3.297147
13,62045,11235,New York,NY,New York,Kings,14,190500.0,191000.0,191500.0,...,788800,793900,796000,799700,806600,810600,813400,816200,True,3.284514
20,61625,10011,New York,NY,New York,New York,21,NaN,NaN,NaN,...,12036600,12050100,12016300,11946500,11978100,11849300,11563000,11478300,True,NaN
21,61703,10128,New York,NY,New York,New York,22,3676700.0,3704200.0,3729600.0,...,7417600,7427300,7371400,7342700,7353300,7350300,7363000,7386600,True,1.009030
35,61802,10462,New York,NY,New York,Bronx,36,154300.0,154300.0,154400.0,...,439900,443500,444100,443900,446000,446400,447200,450200,True,1.917693
36,61796,10456,New York,NY,New York,Bronx,37,NaN,NaN,NaN,...,356500,357200,362000,368500,374100,379800,388100,394400,True,NaN
46,61803,10463,New York,NY,New York,Bronx,47,180100.0,181000.0,181900.0,...,692000,700900,710200,726900,744500,757000,769400,778700,True,3.323709
47,62040,11230,New York,NY,New York,Kings,48,230100.0,230800.0,231500.0,...,1082800,1084900,1091200,1102400,1120200,1141600,1170000,1195400,True,4.195133
49,62020,11209,New York,NY,New York,Kings,50,255700.0,256600.0,257300.0,...,1019500,1024400,1024900,1018900,1023500,1029200,1023000,1015800,True,2.972624
53,62023,11212,New York,NY,New York,Kings,54,125000.0,125000.0,125000.0,...,394600,401500,407900,414900,422300,426300,427100,428400,True,2.427200
57,60545,7030,Hoboken,NJ,New York,Hudson,58,301600.0,302700.0,303800.0,...,1818100,1836900,1850100,1853500,1852200,1854400,1857600,1854300,True,5.148210
58,62025,11214,New York,NY,New York,Kings,59,191000.0,191200.0,191500.0,...,814200,820600,825000,826300,827600,830500,837300,844100,True,3.419372
70,62032,11221,New York,NY,New York,Kings,71,133700.0,133700.0,133700.0,...,965300,984700,995000,998100,1000900,1015400,1037300,1048700,True,6.843680
72,62039,11229,New York,NY,New York,Kings,73,183900.0,184200.0,184500.0,...,734500,735500,736100,741000,748100,755800,766200,775500,True,3.216966
73,61148,8701,Lakewood,NJ,New York,Ocean,74,153800.0,153400.0,153000.0,...,408400,411000,412600,414000,415700,415600,413400,410700,True,1.670351
85,62088,11377,New York,NY,New York,Queens,86,179000.0,178900.0,179000.0,...,741900,745700,749100,749900,750300,753000,758200,762500,True,3.259777
95,62044,11234,New York,NY,New York,Kings,96,172300.0,172100.0,171900.0,...,566400,565600,568700,575000,579400,583200,589400,593300,True,2.443413
99,62067,11355,New York,NY,New York,Queens,100,182800.0,182500.0,182300.0,...,853000,859500,865500,871400,875900,877300,882400,890200,True,3.869803
100,61790,10314,New York,NY,New York,Richmond,101,175800.0,175000.0,174200.0,...,527500,530200,534100,538900,543000,546200,550600,555600,True,2.160410
106,62026,11215,New York,NY,New York,Kings,107,225700.0,227500.0,229400.0,...,2244400,2266100,2275800,2287100,2288900,2265300,2244900,2243900,True,8.941958
117,62022,11211,New York,NY,New York,Kings,118,133200.0,132900.0,132500.0,...,1424700,1435300,1440500,1463100,1496100,1531100,1581900,1623700,True,11.189940
138,62093,11385,New York,NY,New York,Queens,139,160600.0,160900.0,161300.0,...,629600,631300,631700,634200,639700,644700,651000,657500,True,3.094022
140,62085,11373,New York,NY,New York,Queens,141,175400.0,175800.0,176400.0,...,754600,759800,762500,766900,773700,776100,775900,777000,True,3.429875
156,62048,11238,New York,NY,New York,Kings,157,NaN,NaN,NaN,...,2716500,2724000,2744300,2768900,2810700,2848100,2869600,2885300,True,NaN
158,61169,8753,Toms River,NJ,New York,Ocean,159,123400.0,123200.0,122900.0,...,259000,259500,261200,262500,262600,262400,263400,264300,True,1.141815
187,60518,7002,Bayonne,NJ,New York,Hudson,188,145000.0,144500.0,143900.0,...,330900,339000,347400,352800,355900,361500,368700,372900,True,1.571724
190,62043,11233,New York,NY,New York,Kings,191,124500.0,124500.0,124500.0,...,787100,797100,808400,809800,800800,806100,829200,852300,True,5.845783
191,60639,7302,Jersey City,NJ,New York,Hudson,192,137200.0,137800.0,138500.0,...,1411000,1435900,1446300,1447800,1454900,1453900,1439500,1427300,True,9.403061
200,62046,11236,New York,NY,New York,Kings,201,160900.0,161000.0,161200.0,...,440900,443800,447800,453600,458400,461600,467200,472000,True,1.933499
214,60599,7093,West New York,NJ,New York,Hudson,215,131700.0,131900.0,132100.0,...,376800,386200,392900,395100,395500,399400,407000,412700,True,2.133637
228,62084,11372,New York,NY,New York,Queens,229,190200.0,190800.0,191700.0,...,849300,849700,849400,845900,841900,848800,860100,861800,True,3.531020
260,62029,11218,New York,NY,New York,Kings,261,177200.0,177000.0,176800.0,...,1199700,1201800,1198000,1186400,1174500,1173900,1196100,1220900,True,5.889955
265,62034,11223,New York,NY,New York,Kings,266,207600.0,208000.0,208400.0,...,935800,941700,944700,947800,952100,966600,997000,1026600,True,3.945087
272,61635,10021,New York,NY,New York,New York,273,NaN,NaN,NaN,...,18605300,18569400,18428800,18307100,18365900,18530400,18337700,17894900,True,NaN
274,61895,10701,Yonkers,NY,New York,Westchester,275,181700.0,181100.0,180600.0,...,444300,446300,448500,451400,454000,456500,458400,459800,True,1.530545
278,61200,8831,Monroe,NJ,New York,Middlesex,279,218500.0,217900.0,217100.0,...,433800,432100,432100,433000,434300,436000,436900,436500,True,0.997712
308,62019,11208,New York,NY,New York,Kings,309,126800.0,126700.0,126700.0,...,437800,441600,440700,435400,429900,432300,442400,450600,True,2.553628
319,60594,7087,Union City,NJ,New York,Hudson,320,127300.0,127000.0,126700.0,...,386000,394700,403700,410500,415500,424000,437400,448900,True,2.526316
356,62015,11204,New York,NY,New York,Kings,357,201100.0,201100.0,201100.0,...,946200,953800,957100,958900,963200,967900,972800,976400,True,3.855296
366,62030,11219,New York,NY,New York,Kings,367,213200.0,212600.0,211900.0,...,1045400,1036700,1022900,1016000,1014400,1023800,1053000,1079600,True,4.063790
407,62080,11368,New York,NY,New York,Queens,408,160700.0,160900.0,161100.0,...,705700,710300,714800,720700,727100,731400,734100,735400,True,3.576229
423,62014,11203,New York,NY,New York,Kings,424,149000.0,149200.0,149400.0,...,458800,462800,468700,474500,475300,474800,481000,489900,True,2.287919
439,62031,11220,New York,NY,New York,Kings,440,188500.0,188700.0,188800.0,...,918500,918400,909000,903000,906500,910700,915600,917900,True,3.869496
475,62027,11216,New York,NY,New York,Kings,476,146100.0,146600.0,147200.0,...,1553100,1567700,1559700,1545700,1540200,1553600,1578400,1598700,True,9.942505